html {
  font-family: sans-serif;
}

/* Your CSS below here */
div{
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: rem;
  background-color: skyblue;
  color: white;
  text-shadow: 5px 5px 1px #000;
  border-radius: 20px;
  border: 1px solid blue;
  background-image: linear-gradient(to bottom right, tansparent 0,rgba(0,0,0,0.2)) 30%;
  box-shadow:
    5px 5px 5px #000,
    inset 2px 2px 5px #fff,
    inset -2px -2px 2px #000
  ;

}